mariadb/data/aria_log_control
mariadb/data/aria_log.00000001
mariadb/data/ib_buffer_pool
mariadb/data/ib_logfile0
mariadb/data/ib_logfile1
mariadb/data/ibdata1
mariadb/data/ibtmp1
mariadb/data/multi-master.info
mariadb/data/tc.log
mariadb/data/mysql/column_stats.frm
mariadb/data/mysql/column_stats.MYD
mariadb/data/mysql/column_stats.MYI
mariadb/data/mysql/columns_priv.frm
mariadb/data/mysql/columns_priv.MYD
mariadb/data/mysql/columns_priv.MYI
mariadb/data/mysql/db.frm
mariadb/data/mysql/db.MYD
mariadb/data/mysql/db.MYI
mariadb/data/mysql/db.opt
mariadb/data/mysql/event.frm
mariadb/data/mysql/event.MYD
mariadb/data/mysql/event.MYI
mariadb/data/mysql/func.frm
mariadb/data/mysql/func.MYD
mariadb/data/mysql/func.MYI
mariadb/data/mysql/general_log.CSM
mariadb/data/mysql/general_log.CSV
mariadb/data/mysql/general_log.frm
mariadb/data/mysql/gtid_slave_pos.frm
mariadb/data/mysql/gtid_slave_pos.ibd
mariadb/data/mysql/help_category.frm
mariadb/data/mysql/help_category.MYD
mariadb/data/mysql/help_category.MYI
mariadb/data/mysql/help_keyword.frm
mariadb/data/mysql/help_keyword.MYD
mariadb/data/mysql/help_keyword.MYI
mariadb/data/mysql/help_relation.frm
mariadb/data/mysql/help_relation.MYD
mariadb/data/mysql/help_relation.MYI
mariadb/data/mysql/help_topic.frm
mariadb/data/mysql/help_topic.MYD
mariadb/data/mysql/help_topic.MYI
mariadb/data/mysql/host.frm
mariadb/data/mysql/host.MYD
mariadb/data/mysql/host.MYI
mariadb/data/mysql/index_stats.frm
mariadb/data/mysql/index_stats.MYD
mariadb/data/mysql/index_stats.MYI
mariadb/data/mysql/innodb_index_stats.frm
mariadb/data/mysql/innodb_index_stats.ibd
mariadb/data/mysql/innodb_table_stats.frm
mariadb/data/mysql/innodb_table_stats.ibd
mariadb/data/mysql/plugin.frm
mariadb/data/mysql/plugin.MYD
mariadb/data/mysql/plugin.MYI
mariadb/data/mysql/proc.frm
mariadb/data/mysql/proc.MYD
mariadb/data/mysql/proc.MYI
mariadb/data/mysql/procs_priv.frm
mariadb/data/mysql/procs_priv.MYD
mariadb/data/mysql/procs_priv.MYI
mariadb/data/mysql/proxies_priv.frm
mariadb/data/mysql/proxies_priv.MYD
mariadb/data/mysql/proxies_priv.MYI
mariadb/data/mysql/roles_mapping.frm
mariadb/data/mysql/roles_mapping.MYD
mariadb/data/mysql/roles_mapping.MYI
mariadb/data/mysql/servers.frm
mariadb/data/mysql/servers.MYD
mariadb/data/mysql/servers.MYI
mariadb/data/mysql/slow_log.CSM
mariadb/data/mysql/slow_log.CSV
mariadb/data/mysql/slow_log.frm
mariadb/data/mysql/table_stats.frm
mariadb/data/mysql/table_stats.MYD
mariadb/data/mysql/table_stats.MYI
mariadb/data/mysql/tables_priv.frm
mariadb/data/mysql/tables_priv.MYD
mariadb/data/mysql/tables_priv.MYI
mariadb/data/mysql/time_zone_leap_second.frm
mariadb/data/mysql/time_zone_leap_second.MYD
mariadb/data/mysql/time_zone_leap_second.MYI
mariadb/data/mysql/time_zone_name.frm
mariadb/data/mysql/time_zone_name.MYD
mariadb/data/mysql/time_zone_name.MYI
mariadb/data/mysql/time_zone_transition_type.frm
mariadb/data/mysql/time_zone_transition_type.MYD
mariadb/data/mysql/time_zone_transition_type.MYI
mariadb/data/mysql/time_zone_transition.frm
mariadb/data/mysql/time_zone_transition.MYD
mariadb/data/mysql/time_zone_transition.MYI
mariadb/data/mysql/time_zone.frm
mariadb/data/mysql/time_zone.MYD
mariadb/data/mysql/time_zone.MYI
mariadb/data/mysql/transaction_registry.frm
mariadb/data/mysql/transaction_registry.ibd
mariadb/data/mysql/user.frm
mariadb/data/mysql/user.MYD
mariadb/data/mysql/user.MYI
mariadb/data/performance_schema/db.opt
mariadb/data/vcs_db/db.opt
mariadb/data/vcs_db/vcs_choice_vote.frm
mariadb/data/vcs_db/vcs_choice_vote.ibd
mariadb/data/vcs_db/vcs_history_vote.frm
mariadb/data/vcs_db/vcs_history_vote.ibd
mariadb/data/vcs_db/vcs_user.frm
mariadb/data/vcs_db/vcs_user.ibd
mariadb/data/vcs_db/vcs_vote.frm
mariadb/data/vcs_db/vcs_vote.ibd
